---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Stair from '../components/Stair.tsx';
---

<Layout title="Stair Calculator">
	<main>
    <Stair client:only="react"/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
</style>
